* {
    margin: 0; 
    padding: 0;
    font-family: roboto, sans-serif;
  }

.header {
    background-color: #231C07;
    display: flex;
    padding: 1rem 10rem 1rem 10rem;
    justify-content: space-between;
}

.header span {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    color: #DADDD8;
    align-items: center;
    margin: -10px;
    gap: 1rem;
}

.header nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header nav a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    background-color: #231C07;
    justify-content: center;
}

.hero .container {
    display: flex;
    padding: 5rem;
    flex-grow: 0;
    flex-shrink: 0;
    width: 1000px;
    height: 250px;
    gap: 1rem;
}

.hero .container .description {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: space-between;
}

.hero .container .description h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #DADDD8;
    text-decoration: none;
}

.hero .container .description p {
    display: flex;
    font-size: 18px;
    color: #DADDD8;
    width: 75%;
}

.hero .container .description button {
    font-size: 18px;
    background-color: #593F62;
    border: 0;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}

.hero .container .description button a {
    text-decoration: none;
    color: #DADDD8;
}

.hero .container .image {
    flex: 1 1 0;
}

.hero .container .image img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.info {
    display: flex;
    background-color: #DADDD8;
    flex-direction: column;
    align-items: center;
}

.info h1 {
    margin: 2rem;
    font-size: 36px;
    font-weight: 900;
    color: #171204;
}


.info .container {
    display: flex;
    flex: 0 1;
    margin-bottom:  5rem;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 240px;
    min-width: 1000px;
    align-items: center;
}

.info .container .image {
    width: 200px;
    height: 200px;
    border: #593F62 solid 4px;
    border-radius: 10px;
    background-color: #593F62;
}

.info .container .image img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
}

.info .container p {
    width: 200px;
    text-align: center;
    padding-top: 10px;
}

/* * {border: solid red 1px;} */